
h1
{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: coral;
text-align: center;
}

section
{
    border: 3px;
    border-color: black;
    border-style:solid;
    background-color: bisque;
    padding: 10px;
}

.dish
{color:rgb(65, 65, 219) ;
font-family: Arial, Helvetica, sans-serif;
}

.aboutdish
{
color: rgb(74, 74, 74);
}